<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>Chemistri</title>
    <!-- google font cdn -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet ">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

    <script src="javascripts/style-components.js" charset="utf-8"></script>

    <!-- styles link -->
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <main>
        <h1 class="matches center">your matches</h1>

        <!-- this is the container for the top side-scroll through names -->
        <div class="">

        </div>
        <div class="container">
            <table>
                <tbody>
                  {{#each match}}
                  <tr>
                      <td data-id="{{this.matchId}}"><i class="material-icons delete">clear</i></td>
                      <td><p>{{this.firstName}} {{this.lastName}}</p></td>
                      <td><p>{{this.personality}}</p></td>
                      <td><a href="/users/{{this.matchId}}"><img class="profile match-img" src="http://www.lovemarks.com/wp-content/uploads/profile-avatars/default-avatar-rainbow-unicorn.png"></a></td>
                  </tr>
                  {{/each}}
                </tbody>
            </table>
            <!-- NOTE remember to change to users view in the browse link -->
            <a class="waves-effect waves-light btn" id="matches-button" href="/users">browse</a>
        </div>
    </main>
</body>

</html>
