<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>Chemistri</title>
    <!-- google font cdn -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet ">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

    <script src="javascripts/style-components.js" charset="utf-8"></script>

    <!-- styles link -->
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<header>
    <nav>
        <div class="nav-wrapper ">
            <a href="#" class="brand-logo center">chemistri</a>
        </div>
    </nav>
    <!-- slide out nav -->
    <ul id="slide-out" class="side-nav">
        <li>
            <div class="userView">
                <div class="background">
                    <img src="https://cdn.shutterstock.com/shutterstock/videos/13793207/thumb/1.jpg" alt="gears">
                </div>
                <a href="#!user"><img class="circle" src="https://cdn3.iconfinder.com/data/icons/avatars-9/145/Avatar_Robot-512.png" alt="robot-head"></a>
                <a href="#!name"><span class="white-text name">chemistri</span></a>
            </div>
        </li>
        <li><a href="order.html" class="waves-effect"><i class="material-icons"></i>Order</a></li>
        <li><a href="index.html" class="waves-effect"><i class="material-icons"></i>About</a></li>
        <li><a href="#" class="waves-effect"><i class="material-icons"></i><div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true"></div></a></li>
        <li>
            <div class="divider"></div>
        </li>


    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons hamburger">menu</i></a>
    <!-- end of slide out nav -->
</header>


    <main>
        <h1 class="matches center">your matches</h1>

        <!-- this is the container for the top side-scroll through names -->
        <div class="">

        </div>
        <div class="container">
            <table>
                <tbody>
                  {{#each match}}
                  <tr>
                      <td data-id="{{this.matchId}}"><i class="material-icons delete">clear</i></td>
                      <td><p>{{this.firstName}} {{this.lastName}}</p></td>
                      <td><!-- Modal Trigger -->
                      <a class="waves-effect waves-light btn" href="#modal1">{{personality}}</a>

                      <!-- Modal Structure -->
                      <div id="modal1" class="modal">
                          <div class="modal-content">
                              <h4>Modal Header</h4>
                              <p>A bunch of text</p>
                          </div>
                          <div class="modal-footer">
                              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                          </div>
                      </div></td>
                      <td><a href="/users/{{this.matchId}}"><img class="profile match-img" src="http://www.lovemarks.com/wp-content/uploads/profile-avatars/default-avatar-rainbow-unicorn.png"></a></td>
                  </tr>
                  {{/each}}
                </tbody>
            </table>
            <!-- NOTE remember to change to users view in the browse link -->
            <a class="waves-effect waves-light btn" id="matches-button" href="/users">browse</a>
        </div>
    </main>

  
</body>

</html>
